body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8f8f6;
}
.title {
  text-align: center;
  font-size: 45px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.load-more {
  width: 150px;
  height: 50px;
  align-self: center;
  font-size: 25px;
  background: linear-gradient(to right, #00b4d8, #009bbe);
  color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  margin-bottom: 15px;
}
